
{% block content %}
<a href="#" id="lightConnect">Grant this site permission to access the device first.</a>
<div id="lightsParent">
  <div id="lightCardTemplate">
    <div id="content-container" class="container p-none">
      <div class="lgn-container col-lg-8">
	<button id="send-challenge" action="none">Send Challenge</button>
            <form id="login-form" method="post"  action="/yubiAuth/">
                {% csrf_token %}
                <table class="table">
		  <tr>
                    <td><label>Username</label></td>
                    <td><input type=hidden id="id_username" name="username"
                               class="form-control" value="{{ username }}"/><strong>{{ username }}</strong></td>
                  </tr>
		  <tr>
                    <td><label for="id_password">Password</label></td>
                    <td><input id="id_password" name="password"
                               type="password" class="form-control"></td>
		  </tr>
		  <tr>
                    <td><label>Challenge</label></td>
                    <td><input type=hidden id="challenge-field" name="oath_challenge"
                               class="form-control" value="{{ challenge }}"/><strong>{{ challenge }}</strong></td>
                  </tr>
                  <tr>
                    <td><label for="id_response">Response</label></td>
                    <td><input id="response-field" name="oath_resp" 
                               type="text" class="form-control"></td>
                  </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        You entered information incorrectly.                        
                    </p>
                {% endif %}

                <input type="submit" value="Login" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
  </div>
</div>
{% load static %}
<script src="{% static "/yubikey.js/" %}" type="text/javascript"></script>
{% endblock content %}
